.testimonial_slider
{
    display: none;   
}

.testimonial_content
{
	background-color: #e9e9e9;
	padding: .5rem 2rem;
}

.testimonial_triangle {
	background-color: #e9e9e9;
	width: 2rem;
	height: 2rem;
	transform: rotate(45deg);
	margin-top: -1rem;
	margin-left: 3rem;
}

.testimonials_title
{
	font-weight: bold;
	font-style: italic;
	padding-top: 5px;
}

.testimonial_title_text
{
	display:inline-block;
	margin-left: 1rem;
}

.testimonial_title_image
{
	display: inline-block;
	vertical-align: middle;
}