.testimonial_slider
{
	display: none;	
	position: absolute;
	vertical-align: top;
	margin: 10px;
	
}

.testimonail_container
{
	background-color: #ededed;
}

.testimonials_title
{
	font-weight: bold;
	font-style: italic;
}