/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a.button,
button-dark,
input[type="submit"],
input[type="reset"],
input[type="button"],
a.button:visited {
    display: inline-block;
    height: 3.39em;
    padding: 0 2.685em;
    text-align: center;
    font-size: .688em;
    font-weight: 600;
    line-height: 3.39em;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: .250em;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {

}

a.button-dark,
button-dark,
input[type="submit"],
input[type="reset"],
input[type="button"],
a.button-dark:visited {
    color: #555;
    border: 1px solid #bbb;
  }

a.button-dark:hover,
button-dark:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.button-dark:focus,
button-dark:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

a.button.button-default,
button.button-default,
input[type="submit"].button-default,
input[type="reset"].button-default,
input[type="button"].button-default {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

a.button.button-default:hover,
button.button-default:hover,
input[type="submit"].button-default:hover,
input[type="reset"].button-default:hover,
input[type="button"].button-default:hover,
a.button.button-default:focus,
button.button-default:focus,
input[type="submit"].button-default:focus,
input[type="reset"].button-default:focus,
input[type="button"].button-default:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}

a.button-light,
button-light,
input[type="submit"],
input[type="reset"],
input[type="button"],
a.button-light:visited {
    
    color: #F2F2F2;
    border: 1px solid #F2F2F2;

}

a.button-light:hover,
button-light:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.button-light:focus,
button-light:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    background-color: white;
	border-color: rgb(255, 255, 255);
}
	

